<!DOCTYPE html>
<html>
   <body>
   
      <h3>Complete Project Task - <a href = "{{ url_for('home') }}">Executive</a></h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      <br>
      <form action = "{{ request.path }}" method = "GET">
         Choose Project Task:<select name="Projects" onchange="this.form.submit()">
         <option value="None"></option>
         {% for p in projects %}
           {% if project == p.project_id %} 
           <option value={{p.project_id}} selected>{{p.name}}</option>
           {% else %}
           <option value={{p.project_id}}>{{p.name}}</option>
           {% endif %}
         {% endfor %}
         </select></form>
         <br><br>
         <form action = "{{ request.path }}" method = "POST">
         Choose Action:<select name="action">
         {% for a in actions %}
           <option value={{a.action_id}}>{{a.name}}</option>
         {% endfor %}
         </select>
         <br><br>
         <input type = "submit" value = "Submit" />
      </form>
      
   </body>
</html>