<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('home') }}">Executive</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      
      <h3>Projects (<a href = "{{ url_for('add_project') }}">Add Project</a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Parent</th>
            </tr>
         </thead>
         
         <tbody>
            {% for project in projects %}
               <tr>
                  <td>{{ project.project_id }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.parent }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
      <h3>Project Tasks (<a href = "{{ url_for('add_action') }}">Add Project Task</a>)
      (<a href = "{{ url_for('finish_action') }}">Complete Project Task</a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Deadline</th>
               <th>Project</th>
               <th>Completed</th>
               <th>Context</th>
            </tr>
         </thead>
         
         <tbody>
            {% for action in actions %}
               <tr>
                  <td>{{ action.action_id }}</td>
                  <td>{{ action.name }}</td>
                  <td>{{ action.deadline }}</td>
                  <td>{{ action.project }}</td>
                  <td>{{ action.completed }}</td>
                  <td>{{ action.context }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
      <h3>Scheduled actions (<a href = "{{ url_for('add_scheduled_action') }}">Add scheduled action</a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Cron</th>
               <th>Last completed</th>
            </tr>
         </thead>
         
         <tbody>
            {% for sa in scheduled_actions %}
               <tr>
                  <td>{{ sa.scheduledaction_id }}</td>
                  <td>{{ sa.name }}</td>
                  <td>{{ sa.cron }}</td>
                  <td>{{ sa.lastcompleted }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
      <h3>Decided task:</h3>
      <h4>{{ decision }}</h4>
      
   </body>
</html>